.toast-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: palegreen;
  line-height: 2;
  font-size: calc(7px + 2vmin);

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
